.pdf-page-wrapper {
  position: relative;
  width: fit-content;
}

.highlight-toolbar {
  position: absolute;
  top: 15px; /* nằm trên đầu Page */
  right: 80px; /* bên phải */
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
