.main-header {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  height: 72px !important;
  padding: 0 40px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-center {
  flex: 1;
  display: flex;
  margin-left: 30px;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

.header-left {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.header-logo {
  width: 140px;
  cursor: pointer;
}


/* Right */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout-btn {
  background-color: #0284c7 !important;
  color: white;
  border: none;
  border-radius: 6px;
}

/* Mobile menu icon */
.mobile-menu-icon {
  cursor: pointer;
  font-size: 26px;
}

.main-header {
  padding: 0 24px 10px;
  display: flex;
  align-items: center;
}